---
---
@charset "utf-8";

@import 'vendor/normalize';

@import 'base/root';

html { 
  background: url("/terrorusa/assets/images/terrorusa.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
    font-family: "terrorfont";
    src: url(/terrorusa/assets/fonts/terrorfont.ttf) format("truetype");
}
.terror { 
    font-family: "terrorfont";
    color: white;
}
